In [38]:
import pandas as pd
from glob import glob
import re

In [73]:
# Read in all the results to the data dataframe
frames = []
for result in glob('results/v1_*'):
    r = re.search(r'sigma([0-9]+)_regions([0-9]+)_width([0-9]+)', result)
    regions = int(r.group(2))
    width = int(r.group(3))
    
    data = pd.read_csv('{}/results.txt'.format(result), names=['name1', 'name2', 'lr_pred', 'rl_pred', 'lr_true', 'rl_true']) 
    data['regions'] = regions
    data['region_width'] = width
    frames.append(data)
data = pd.concat(frames)
del frames
data.head()

  name1  name2   lr_pred    rl_pred  lr_true  rl_true  regions  region_width
0  IM05      1  0.001438  26.605763      0.0     42.0        8             6
1  IM05      1  0.000892  25.232774      0.0     46.0        8             6
2  IM05      1  0.001497  27.552411      0.0     41.0        8             6
3  IM05      1  0.002121  28.274530      0.0     45.0        8             6
4  IM05      0  0.062155  31.696990      0.0     35.0        8             6

In [87]:
data['off'] = abs(data['rl_true']-data['rl_pred']) + abs(data['lr_true']-data['lr_pred'])
data['total'] = data['rl_true'] + data['lr_true']
data['perc_off'] = data['off']/data['total']

In [108]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['name1','name2']).mean()[['perc_off', 'off', 'total']]) # , 'region_width'

             perc_off   off  total
name1 name2
IM01  0          0.29  4.75  16.33
      1          0.40  6.65  16.67
IM02  0          0.15  1.61  10.00
      1          0.12  1.00   8.33
      2          0.29  5.84  19.33
      3          0.51 10.71  21.00
IM03  0          0.13  4.79  36.00
      1          0.35  2.11   6.00
      2          0.17  4.94  28.50
IM04  0          0.57 15.73  27.33
      1          0.42  6.32  15.67
      2          0.53 11.84  20.67
      3          0.35  9.85  28.67
IM05  0          0.08  3.00  35.75
      1          0.35 15.12  43.50
      2          0.07  3.18  44.75

In [99]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['name1']).mean()[['perc_off', 'off', 'total']]) # , 'region_width'

       perc_off   off  total
name1
IM01       0.35  5.70  16.50
IM02       0.27  4.79  14.67
IM03       0.22  3.95  23.50
IM04       0.47 10.93  23.08
IM05       0.17  7.10  41.33

In [31]:
data['perc_off'].mean()

0.30535185882494714