In [38]:
import pandas as pd
from glob import glob
import re

In [130]:
# Read in all the results to the data dataframe
frames = []
for result in glob('results/v1_*'):
    r = re.search(r'sigma([0-9]+)_regions([0-9]+)_width([0-9]+)', result)
    sigma = int(r.group(1))
    regions = int(r.group(2))
    width = int(r.group(3))
    
    data = pd.read_csv('{}/results.txt'.format(result), names=['name1', 'name2', 'lr_pred', 'rl_pred', 'lr_true', 'rl_true']) 
    data['sigma'] = sigma
    data['regions'] = regions
    data['region_width'] = width
    frames.append(data)
data = pd.concat(frames)
del frames
data

,name1,name2,lr_pred,rl_pred,lr_true,rl_true,sigma,regions,region_width
0,IM05,1,0.001438,26.605763,0.0,42.0,12,8,6
1,IM05,1,0.000892,25.232774,0.0,46.0,12,8,6
2,IM05,1,0.001497,27.552411,0.0,41.0,12,8,6
3,IM05,1,0.002121,28.274530,0.0,45.0,12,8,6
4,IM05,0,0.062155,31.696990,0.0,35.0,12,8,6
...,...,...,...,...,...,...,...,...,...
43,IM03,1,3.887964,0.000000,6.0,0.0,5,8,10
44,IM03,0,18.912401,15.571420,19.0,16.0,5,8,10
45,IM03,0,16.654675,13.046937,21.0,16.0,5,8,10
46,IM03,2,10.792260,12.081429,14.0,14.0,5,8,10
47,IM03,2,10.776942,13.315497,13.0,16.0,5,8,10

In [131]:
data['off'] = abs(data['rl_true']-data['rl_pred']) + abs(data['lr_true']-data['lr_pred'])
data['total'] = data['rl_true'] + data['lr_true']
data['perc_off'] = data['off']/data['total']

In [132]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['name1','name2']).mean()[['perc_off', 'off', 'total']]) # , 'region_width'

             perc_off   off  total
name1 name2
IM01  0          0.25  4.11  16.33
      1          0.36  6.02  16.67
IM02  0          0.14  1.50  10.00
      1          0.11  0.89   8.33
      2          0.25  5.13  19.33
      3          0.48 10.15  21.00
IM03  0          0.12  4.51  36.00
      1          0.31  1.86   6.00
      2          0.17  4.73  28.50
IM04  0          0.56 15.23  27.33
      1          0.42  6.41  15.67
      2          0.55 12.24  20.67
      3          0.38 10.68  28.67
IM05  0          0.09  3.27  35.75
      1          0.32 14.07  43.50
      2          0.06  2.93  44.75

In [133]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['name1','name2', 'regions']).mean()[['perc_off', 'off', 'total']]) # , 'region_width'

                     perc_off   off  total
name1 name2 regions
IM01  0     3            0.26  4.31  16.33
            5            0.25  4.12  16.33
            8            0.24  3.91  16.33
      1     3            0.57  9.47  16.67
            5            0.29  4.77  16.67
            8            0.23  3.82  16.67
IM02  0     3            0.13  1.38  10.00
            5            0.15  1.52  10.00
            8            0.15  1.61  10.00
      1     3            0.16  1.17   8.33
            5            0.10  0.79   8.33
            8            0.09  0.72   8.33
      2     3            0.22  4.56  19.33
            5            0.26  5.30  19.33
            8            0.27  5.54  19.33
      3     3            0.85 17.78  21.00
            5            0.47  9.86  21.00
            8            0.13  2.82  21.00
IM03  0     3            0.12  4.51  36.00
            5            0.12  4.31  36.00
            8            0.13  4.70  36.00
      1     3            0.21  1.24   6.00
            5            0.30  1.82   6.00
            8            0.42  2.51   6.00
      2     3            0.12  3.49  28.50
            5            0.17  4.73  28.50
            8            0.21  5.95  28.50
IM04  0     3            0.52 14.25  27.33
            5            0.55 15.02  27.33
            8            0.60 16.41  27.33
      1     3            0.37  5.45  15.67
            5            0.42  6.44  15.67
            8            0.47  7.34  15.67
      2     3            0.52 12.34  20.67
            5            0.56 12.24  20.67
            8            0.57 12.12  20.67
      3     3            0.34  9.78  28.67
            5            0.38 10.59  28.67
            8            0.42 11.69  28.67
IM05  0     3            0.08  2.74  35.75
            5            0.09  3.40  35.75
            8            0.10  3.67  35.75
      1     3            0.29 12.92  43.50
            5            0.32 14.10  43.50
            8            0.35 15.19  43.50
      2     3            0.08  3.99  44.75
            5            0.06  2.75  44.75
            8            0.05  2.04  44.75

In [134]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['regions', 'sigma', 'region_width']).mean()[['perc_off', 'off', 'total']]) # , 'region_width'

                            perc_off  off  total
regions sigma region_width
3       5     4                 0.26 6.01  24.77
              6                 0.30 6.94  24.77
              8                 0.31 7.27  24.77
              10                0.32 7.48  24.77
        12    4                 0.27 6.38  24.77
              6                 0.31 7.19  24.77
              8                 0.32 7.53  24.77
              10                0.33 7.65  24.77
5       5     4                 0.24 5.91  24.77
              6                 0.24 5.88  24.77
              8                 0.27 6.33  24.77
              10                0.31 7.19  24.77
        12    4                 0.28 6.50  24.77
              6                 0.27 6.38  24.77
              8                 0.29 6.72  24.77
              10                0.33 7.52  24.77
8       5     4                 0.26 6.30  24.77
              6                 0.25 6.00  24.77
              8                 0.25 5.96  24.77
              10                0.25 5.97  24.77
        12    4                 0.31 7.13  24.77
              6                 0.29 6.75  24.77
              8                 0.29 6.64  24.77
              10                0.28 6.56  24.77

In [135]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:,.2f}'.format):
    display(data.groupby(['name1','name2']).min()[['perc_off', 'off', 'total']]) # , 'region_width'

             perc_off  off  total
name1 name2
IM01  0          0.01 0.26  13.00
      1          0.10 1.81  15.00
IM02  0          0.01 0.06   9.00
      1          0.00 0.02   6.00
      2          0.02 0.26  16.00
      3          0.01 0.14  19.00
IM03  0          0.01 0.23  35.00
      1          0.14 0.83   6.00
      2          0.08 2.35  28.00
IM04  0          0.35 8.12  23.00
      1          0.12 1.94  12.00
      2          0.15 0.88   6.00
      3          0.20 3.78  19.00
IM05  0          0.00 0.07  35.00
      1          0.21 8.71  41.00
      2          0.00 0.21  39.00

In [143]:
data.groupby(['name1','name2']).min()['perc_off'].mean()

0.088224809103302798