In [3]:
import pandas as pd

In [7]:
data = pd.read_csv("results/new_test/results.txt", names=['name1', 'name2', 'lr_pred', 'rl_pred', 'lr_true', 'rl_true']) 
data.head()

  name1  name2   lr_pred    rl_pred  lr_true  rl_true
0  IM05      1  0.001541  26.413189      0.0     42.0
1  IM05      1  0.000943  26.345110      0.0     46.0
2  IM05      1  0.001462  27.364399      0.0     41.0
3  IM05      1  0.001480  26.432066      0.0     45.0
4  IM05      0  0.038143  27.982980      0.0     35.0

In [20]:
off = abs(data['rl_true']-data['rl_pred']) + abs(data['lr_true']-data['lr_pred'])
total = data['rl_true'] + data['lr_true']
data['perc_off'] = off/total

In [28]:
data.groupby(['name1','name2'])['perc_off'].mean()

name1  name2
IM01   0        0.291684
       1        0.252040
IM02   0        0.235153
       1        0.136145
       2        0.332734
       3        0.168889
IM03   0        0.123300
       1        0.255037
       2        0.192014
IM04   0        0.619266
       1        0.473715
       2        0.631762
       3        0.500239
IM05   0        0.192558
       1        0.385929
       2        0.069341
Name: perc_off, dtype: float64

In [30]:
data.groupby(['name1'])['perc_off'].mean()

name1
IM01    0.271862
IM02    0.218230
IM03    0.190117
IM04    0.556245
IM05    0.215942
Name: perc_off, dtype: float64

In [31]:
data['perc_off'].mean()

0.30535185882494714